
.mainpage {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainpage__header {
  width: 100%;
  height: 70px;
  background-color: #5ca5bd8a; 
}
.mainpage__header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainpage__header__navigation__list {
  display: flex;
  width: 50%;
  flex-direction: row;
  justify-content: space-between;
}

.mainpage__header__navigation__list li {
  list-style-type: none;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  font-size: 1.4rem;
}
.mainpage__container {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  flex-direction: column;
}

.mainpage__container__table {
  width: 100%;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.815);
  padding: 15px;
  margin: 10px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  border-radius: 12px;
  border-collapse: collapse;
}

.mainpage__container__table__header {
  background-color: #5ca5bdea;
  height: 40px;
  border-radius: 12px;
}

.mainpage__container__table__header__row th {
  font-weight: 500;
  font-size: 1.5rem;
  
}

.mainpage__container__table__body__row td {
  text-align: center;
  font-size: 1.5rem;
}

.mainpage__container__table__body__row {
  border-bottom: 1px solid rgba(128, 128, 128, 0.548);
}

.mainpage__container__table__body__flexbox {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.mainpage__container__table__body__flexbox img {
  width: 23px;
  height: 23px;
}
.mainpage__container__table__body__flexbox p {
  font-size: 1.3rem;
}

.mainpage__container__table__body__minitext {
  font-weight: 600;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.mainpage__container__table__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.mainpage__container__table__pagination__list {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}

.mainpage__fillters {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  background-color: #5ca5bdea;
  border: 1px solid #0000003f;
  padding: 10px;
  border-radius: 12px;
}

.mainpage__fillters__label {
  font-family: "gothic";
  letter-spacing: 1px;
}


.mainpage__fillters__box {
  font-family: "gothic";
  text-transform: uppercase;
  border:1px solid rgba(0, 0, 0, 0.301);
  padding: 3px;
  border-radius: 12px;
  font-weight: 500;
  margin: 10px;
  
}

.mainpage__heading {
  font-family: "intro-font";
  line-height: 40px;
  margin: 0;
  padding: 0;
  opacity: 0.8;
  letter-spacing: 1px;
  margin: 30px;
}

.mainpage__container__tablepagination__button__next {
  border: 0;
  background: url("../../assets/img/arrow-right-svgrepo-com.svg");
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.mainpage__container__tablepagination__button__back {
  border: 0;
  background: url("../../assets/img/arrow-left-svgrepo-com.svg");
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.mainpage__header__goAccount {
  color:black;
  text-decoration: none;
  background: url('../../assets/img/house.svg');
  height:35px;
  width:35px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: block;
}
